{% extends '@App/Operation/index.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}

    {{ form(search_form) }}

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Form edit</h4>
            </div>
            <div class="modal-body">
                {% include '@App/Operation/formTemplate.html.twig' %}
            </div>
        </div>
    </div>
</div>
    {% if data['operations']  %}
        <h1>

            <span class="label-info">Total: {{ data['total'] }} </span>
            <span class="label-success">Revenues: {{ data['revenues'] }} </span>
            <span class="label-danger">Costs: {{ data['costs'] }} </span>
        </h1>

        <table class="table">
            <thead>
            <tr>
                <th>Text</th>
                <th>Value UAH</th>
                <th>Value USD</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
        {% for operation in data['operations']  %}
            {% if operation.valueUAH >=0 %}
                <tr class="alert-success">
            {% else %}
                <tr class="alert-danger">
            {% endif %}
                    <td>{{  operation.text }}</td>
                    <td>{{  operation.valueUAH }}</td>
                    <td>{{  operation.valueUSD }}</td>
                    <td>{{  operation.date|date('Y-m-d H:i:s') }}</td>
                    <td>
                        <span data-operation-id="{{ operation.id }}" class="btn btn-danger glyphicon glyphicon-trash" aria-hidden="true">Delete</span>
                        <span data-operation-id="{{ operation.id }}" class="btn btn-primary glyphicon glyphicon-edit" aria-hidden="true" data-toggle="modal" data-target="#myModal">Edit</span>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>

    {% endif %}
{% endblock %}

